Let's start out by declaring a single variable, **x**, and ascribing the value of 5 to it:

In [1]:
x <- 5

We can check if it worked by printing **x**:

In [2]:
x

[1] 5

We can do some math operations with this variable, including:

In [3]:
x+2
x*3
x/4
x^2

[1] 7

[1] 15

[1] 1.25

[1] 25

An R object that contains several data elements of the same type is known as a **vector**. We can declare a vector by using the **c()**, or **concatenate** function to bundle several values together:

In [5]:
age <- c(56, 32, 28, 29, 71)

The vector **age** contains 5 elements - let's assume theses are the ages of 5 people. R makes it easy to analyze different aspects of such objects. For example, even though this is a tiny vector and we can count its elements by hand, in the future we will come across much bigger objects. It's therefore handy to quickly be able to tell how many elements a vector has with the **length()** function:

In [6]:
length(age)

[1] 5

We can even perform math operations on vectors! For instance, to calculate the average age in **age**, we just need to use the **mean()** function:

In [7]:
mean(age)

[1] 43.2

We can get the Min and Max values equally easily:

In [11]:
max(age)
min(age)

#we can even express both of them together, with the range() function:
range(age)

[1] 71

[1] 28

[1] 28 71

And even add up all vector elements:

In [9]:
sum(age)

[1] 216

Using the functions we just covered, can you think of an alternative way to calculate the average age without directly using the **mean()** function? Hint: Just remember what the average of something is an expression of - isn't it just the total divided by the number of elements?

In [10]:
sum(age)/length(age)

[1] 43.2

Looks like it worked! Let's bring the variable **x** we declared in the beginning into play. What does this do:

In [12]:
age + 5

[1] 61 37 33 34 76

You guessed it - we made everyone in the vector 5 years older! You can even use multiplication:

In [13]:
age * 2

[1] 112  64  56  58 142

Yep - we just doubled everyone's age. The question is, did we really change the **age** vector with all these operations? Did we overwrite its values? Let's print it and take a look:

In [14]:
age

[1] 56 32 28 29 71

Looks like it wasn't impacted. But what if we wanted it to be? What if we wanted to overwrite it? We can do that by re-assigning it like this:

In [16]:
age <- age * 2

Let's see if our changes were saved by printing **age** again:

In [17]:
age

[1] 224 128 112 116 284

Well, there's no escaping it now - we really did make everyone 2x older... Let's make them a bit younger than before:

In [19]:
age <- age/2.2

age

[1] 46.28099 26.44628 23.14050 23.96694 58.67769

Well, these numbers look weird, what's with all the digits after the decimal point? This is because our friends' ages can't be exactly divided by 2.2 - there's a remainder, so the elements of the **age** vector are no longer whole numbers, or **integers**, but rather... well, let's check with the **typeof()** function:

In [22]:
typeof(age)

[1] "double"

"Double" is a numeric data type which allows the representation of decimal places. Other common R data types are **character** (i.e. text) and **logical** (also known as **Boolean** values, or simply **True** and **False**):

In [29]:
typeof("this is a string, so it will show as 'character'")

#Once again, this time from within a variable:
string <- "this is a string, so it will show as 'character'"
typeof(string)

#Now for those logical values...
typeof(FALSE)
typeof(TRUE)

[1] "character"

[1] "character"

[1] "logical"

[1] "logical"

What about: testMe <- "FALSE"
Would this be logical? Or something else? You can see for yourself by typing it in the cell below:

One last thing we need to cover today: **subsetting** - trust me, it may not sound terribly exciting, but it will help you **a lot** throughout the semester. Subsetting simply means selecting and excluding elements from an R object. Let's try it on **age**. For example, let's try and exclude anyone younger than 30. As a reminder, these are the current ages in our vector: <br> 
46.2809917355372 <br>
26.4462809917355<br>
23.1404958677686<br>
23.9669421487603<br>
58.6776859504132

In [32]:
ageNew <- age[age > 30]
ageNew

[1] 46.28099 58.67769

It worked! But how? Essentially, we declared a new variable called **ageNew** and assigned to it all values of age:<br>
**age[ ]** <br>
that are greater than 30:<br>
**age > 30** <br>
We can use the same logic to retain only those younger than 30:

In [33]:
ageNew1 <- age[age < 30]
ageNew1

[1] 26.44628 23.14050 23.96694

What if we wanted to match elements to an exact value? All we need to do is:

In [35]:
match <- age[age == 0]
match

numeric(0)

Nothing. Nada. Why? Well, it looks like no one in our vector **age** is exactly 0 years old.